/*横向导航栏上方彩色渐变色条的样式*/

$niceGreen: #35b558;
@mixin boxSize($boxWidth,$boxHeight) {
    width: $boxWidth;
    height: $boxHeight;
}

.loading {
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, 10% 10%, 100% 100%, color-stop(0.14, #35b550), color-stop(0.5, #8aca8c), color-stop(1, #2d85ca));
}


/*横向导航栏的样式：
1、ul包含了左侧导航条的样式
2、.user-need下包含了vip会员、求课程、客户端的样式*/

.nav-wrapper {
    position: relative;
    @include boxSize(100%,43px);
    border-bottom: 1px solid #e8e8e8;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
}

.nav {
    position: absolute;
    left: 50%;
    margin-left: -500px;
    @include boxSize(1000px,41px);
    
    ul,li {
        float: left;
        list-style: none;

        a {
            @include boxSize(auto,410x);
            line-height: 41px;
            padding: 0 22px;
            display: inline-block;
            font-size: 14px;
            color: #333;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: niceGreen;
            }
        }
    }

}

.user-need {
    float: right;

    a {
        margin-left: 20px;
        @include boxSize(auto,41px);
        line-height: 41px;
        display: inline-block;
        font-size: 12px;
        color: #333;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: niceGreen;
        }
        img {
            position: relative;
            top: 2px;
            display: inline-block;
            margin-right: 5px;
        }
    }
}