.modulelogo{ background:url("modulelogo.png") top left no-repeat; }
.modulelogo_r10_c15{ width:42px; height:63px; background-position:-10px -10px; }
.modulelogo_r3_c4{ width:62px; height:61px; background-position:-10px -83px; }
.modulelogo_r36_c5{ width:48px; height:60px; background-position:-10px -154px; }
.modulelogo_r28_c37{ width:58px; height:58px; background-position:-10px -224px; }
.modulelogo_r2_c32{ width:55px; height:58px; background-position:-10px -292px; }
.modulelogo_r4_c21{ width:64px; height:55px; background-position:-10px -360px; }
.modulelogo_r38_c13{ width:58px; height:54px; background-position:-10px -425px; }
.modulelogo_r37_c39{ width:54px; height:54px; background-position:-10px -489px; }
.modulelogo_r38_c30{ width:57px; height:53px; background-position:-10px -553px; }
.modulelogo_r11_c23{ width:52px; height:53px; background-position:-10px -616px; }
.modulelogo_r29_c6{ width:52px; height:52px; background-position:-10px -679px; }
.modulelogo_r19_c33{ width:51px; height:51px; background-position:-10px -741px; }
.modulelogo_r30_c25{ width:45px; height:51px; background-position:-10px -802px; }
.modulelogo_r31_c31{ width:50px; height:50px; background-position:-10px -863px; }
.modulelogo_r13_c40{ width:50px; height:49px; background-position:-10px -923px; }
.modulelogo_r5_c13{ width:59px; height:49px; background-position:-10px -982px; }
.modulelogo_r6_c38{ width:53px; height:48px; background-position:-10px -1041px; }
.modulelogo_r12_c3{ width:62px; height:48px; background-position:-10px -1099px; }
.modulelogo_r22_c14{ width:46px; height:47px; background-position:-10px -1157px; }
.modulelogo_r21_c24{ width:49px; height:47px; background-position:-10px -1214px; }
.modulelogo_r23_c40{ width:47px; height:47px; background-position:-10px -1271px; }
.modulelogo_r20_c2{ width:77px; height:47px; background-position:-10px -1328px; }
.modulelogo_r14_c30{ width:57px; height:47px; background-position:-10px -1385px; }
.modulelogo_r32_c12{ width:62px; height:45px; background-position:-10px -1442px; }
.modulelogo_r39_c22{ width:79px; height:40px; background-position:-10px -1497px; }

